################################################################################
### Gitignore                                                                ###
###                                                                          ###
### Autore of this file: Simon Euchner                                       ###
################################################################################

# Object code and libraries
**.O
**.o
**.so

# TeX files
**.aux
**.bbl
**.bbl-SAVE-ERROR
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.toc
**.run.xml
**.bcf
**.bcf-SAVE-ERROR

# Data
/data/discretisation-*
/data/energies-*
/data/state-*

# Binaries
/a.out
/tmp/e*
