################################################################################
### Gitignore                                                                ###
###                                                                          ###
### Autore of this file: Simon Euchner                                       ###
################################################################################

# Libraries
**.so

# Build
build/
*.egg-info/
src/PyAlkCalc/_alkcalc.c

# Caches
__pycache__/
