################################################################################
### Gitignore                                                                ###
###                                                                          ###
### Autore of this file: Simon Euchner                                       ###
################################################################################

build/
**/__pycache__/
