################################################################################
### Gitignore                                                                ###
###                                                                          ###
### Autore of this file: Simon Euchner                                       ###
################################################################################

# Libraries
**.so

# Build
build/
*.egg-info/
src/pyalkcalc/_core.c

# Caches
__pycache__/
